<!-- Cart Page Start -->
<div class="container-fluid py-5">
  <div class="container py-5">
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Products</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Quantity</th>
            <th scope="col">Total</th>
            <th scope="col">Handle</th>
          </tr>
        </thead>
        <tbody id="cart-items">
          <!-- Cart items will be dynamically inserted here -->
        </tbody>
      </table>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="mt-5">
          <input
            type="text"
            class="border-0 border-bottom rounded me-1 py-3 mb-4"
            placeholder="Coupon Code"
          />
          <button
            class="btn border-secondary rounded-pill px-4 py-3 text-primary"
            type="button"
          >
            Apply Coupon
          </button>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row g-4 justify-content-end">
          <div class="col-12">
            <div class="col-12">
              <div class="bg-light rounded">
                <div class="p-4">
                  <h1 class="display-6 mb-4">
                    Cart <span class="fw-normal">Total</span>
                  </h1>
                  <div class="d-flex justify-content-between mb-4">
                    <h5 class="mb-0 me-4">Subtotal:</h5>
                    <p class="mb-0" id="cart-subtotal">$0.00</p>
                  </div>
                  <div class="d-flex justify-content-between">
                    <h5 class="mb-0 me-4">Shipping</h5>
                    <div>
                      <p class="mb-0">Flat rate: $3.00</p>
                    </div>
                  </div>
                  <p class="mb-0 text-end">Shipping to Ukraine.</p>
                </div>
                <div
                  class="py-4 mb-4 border-top border-bottom d-flex justify-content-between"
                >
                  <h5 class="mb-0 ps-4 me-4">Total</h5>
                  <p class="mb-0 pe-4" id="cart-total">$0.00</p>
                </div>
                <button
                  class="btn border-secondary rounded-pill px-4 py-3 text-primary text-uppercase mb-4 ms-4 btn-proceed-checkout"
                  type="button"
                >
                  Proceed Checkout
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Cart Page End -->
</div>
